{% extends 'base.html' %}
{% block content %}

<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">
                Search for Movie:
            </label>
            <input type="text" class="form-control" id="searchMovie" name="searchMovie" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for: {{ searchTerm }}</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
            <div class="card" style="width: 18rem;">
                <img src="{% if movie.image %} {{ movie.image.url }} {% else %} 'movie/images/default.jpg' {% endif %}" alt="{{ movie.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }} ({{ movie.year }})</h5>
                    <h6 class="card-title">{{ movie.genre }}</h6>
                    <p class="card-text">{{ movie.description }}</p>
                    {% if movie.url %}
                        <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <br>
        <br>
        <br>
        <h2>Join our mailing list:</h2>
        <form action="{% url 'signup' %}">
            <div class="mb-3">
                <label for="email" class="form-label">Enter you email:</label>
                <input type="email" class="form-control" name="email"/>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>

{% endblock %}